.mainContainer {
  display: flex !important;
  justify-content: space-between;
  height: 100%;
}

.sidebar {
  /* background-color: white; */
  height: 100%;
}

/* .codeBlockContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
} */
